<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% include "partials/global/meta-info.html" %}
    {% include "partials/global/favicon.html" %}
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml" />
    <style>{% include "css/critical.css" %}</style>
  </head>
  <body>
    {% include "partials/components/top-nav.html" %}
    <!-- start main section -->
    
      {% block content %}{% endblock %}
      
    {% include "partials/components/footer.html" %}
    <script src="/js/navCollapse.js"></script>
  </body>
</html>