{% extends "layouts/base.html" %} 

{% set pageHeaderTitle = title %}
{% set pageHeaderLede = lede %}

{% block content %}

{% if pageHeaderTitle %}
  {% include "partials/components/intro.html" %}
{% endif %}

<main tabindex="-1" id="main-content" class="section">
  <div class="container">
    <h2>Contact Gen X Tech Blog</h2>
    <p>Have a question or want to say hi? I’d love to hear from you.</p>
    {% include "partials/components/contact-form.html" %}
    {{ content | safe }}
  </div>
</main>
{% endblock %}