{% extends "layouts/base.html" %} 

{% set pageHeaderTitle = title %}
{% set pageHeaderLede = lede %}

{% block content %}

{% if pageHeaderTitle %}
  {% include "partials/components/intro.html" %}
{% endif %}

<main tabindex="-1" id="main-content" class="section">
    {% include "partials/components/post-list.html" %}

    {# If we leave pagination in for tags, the next and prev links will
      link to tags and be rather confusing, so don't render in that situation #}
    {% if not tag %}
      {% include "partials/components/pagination.html" %}
    {% endif %}
    </main>
{% endblock %}