{% extends "layouts/base.html" %} 

{% set pageHeaderLede = lede %}
{% set blogPostList = collections.posts %}


{% block content %}
<section class="hero is-primary is-medium is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-size-1">
        Gen X Tech Blog
      </h1>
      <h2 class="subtitle">
        Hero subtitle
      </h2>
    </div>
  </div>
</section>

<!-- start main section -->
<main tabindex="-1" id="main-content" class="section">
  <div class="container grid">
  <h2 class="title">home page content</h2>
  <p>content</p>


</div>
<section class="section">
  {% include "partials/components/post-list.html" %}

</section>
<!-- bottom section -->
<section class="section">

  <span class="tag is-black">How-to</span>

  
</section>
</main>

{% endblock %}