{% extends "layouts/base.html" %} 
{% set pageHeaderTitle = title %}
{% set pageHeaderLede = lede %}
{% set pageHeaderSize = size %}

{% set blogPostList = collections.posts %}


{% block content %}
{% include "partials/components/intro.html" %}

<!-- start main section -->
<main tabindex="-1" id="main-content" class="section">
  <div class="container grid">
  <h2 class="title">home page content</h2>
  <p>content</p>


</div>
<section class="section">
  {% include "partials/components/post-list.html" %}

</section>
<!-- bottom section -->
<section class="section">
{{ collections[tag] }}
  <span class="tag is-black">How-to</span>

  
</section>
</main>

{% endblock %}