{% extends "layouts/base.html" %} 

{% block content %}
<section class="hero is-primary is-medium is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1">
        Hero title
      </h1>
      <h2 class="subtitle">
        Hero subtitle
      </h2>
    </div>
  </div>
</section>

<!-- start main section -->
<main tabindex="-1" id="main-content" class="section">
  <div class="container grid">
  <h2 class="title">home page content</h2>
  <p>content</p>
</div>
<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      {% for item in collections.posts %}
      <div class="column is-one-third">
        <a href="{{ item.url }}">
        {% include "partials/components/card-article.html" %}
        </a>
      </div>
      {% endfor %}


    </div>
  </div>

</section>
<!-- bottom section -->
<section class="section">

  <span class="tag is-black">How-to</span>

  
</section>
</main>

{% endblock %}