{% extends 'layouts/base.html' %}
{% set pageType = 'Post' %}

{% set pageHeaderTitle = title %}
{% set pageHeaderLede = lede %}

{% block content %}
{% if pageHeaderTitle %}
  {% include "partials/components/intro.html" %}
{% endif %}
  <main tabindex="-1" id="main-content" class="section">
    <div class="container">
    <p>
      {% if date %}
        <time datetime="{{ date | w3DateFilter }}" class="dt-published">{{ date | dateFilter }}</time>
      {% endif %}
      <span role="text">— {{ helpers.getReadingTime(content) }} minute read</span>
    </p>
    <article class="content">
      
      {{ content | safe }}
      {% if site.enableThirdPartyComments %}
        <hr />
        <aside>
          {% include "partials/global/third-party-comments.html" %}
        </aside>
      {% endif %}
      {% if tags %}
        <footer>
          <h2>Filed under</h2>
          <ul>
            {% for item in tags %}
              <li>
                <a href="/tag/{{ item }}">{{ item }}</a>
              </li>
            {% endfor %}
          </ul>
        </footer>
      {% endif %}
    </article>
  </div>
  </main>
{% endblock %}

{{ content | safe }}
