{% set postListItems = recommendedPosts %}
{% set postTags = collections.posts.tags %} 
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ title }}</title>
    <style>{% include "css/critical.css" %}</style>
    <style>
      .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1r;
      }
      
      .grid * { grid-column: 2 / 3; }

    </style>
  </head>
  <body>
    {% include "partials/components/top-nav.html" %}

    <section class="hero is-primary is-medium is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is-1">
            Hero title
          </h1>
          <h2 class="subtitle">
            Hero subtitle
          </h2>
        </div>
      </div>
    </section>

    <!-- start main section -->
    <main tabindex="-1" id="main-content" class="section">
      <div class="container grid">
      <h2 class="title">home page content</h2>
      <p>content</p>
    </div>
    </main>
    <section class="section">
      <div class="container">
        <div class="columns is-multiline">
          {% for item in collections.posts %}
          <div class="column is-one-third">
            <a href="{{ item.url }}">
            {% include "partials/components/card-article.html" %}
            </a>
          </div>
          {% endfor %}


        </div>
      </div>

    </section>

    <!-- bottom section -->
    <section class="section">

      <span class="tag is-black">How-to</span>

      
    </section>
    <!-- end main section --> 
    {% include "partials/components/footer.html" %}

    <script src="/js/navCollapse.js"></script>
  </body>
</html>